<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.johnbaaij.anywhere">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".addNodes.NodeOverviewActivity"></activity>
        <activity android:name=".main.nodes.NodeGroups.SelectedNodeGroup" />
        <activity
            android:name=".addNodes.LightConfigActivity"
            android:label="@string/title_activity_light_config"
            android:parentActivityName=".addNodes.NodeGroupNameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.johnbaaij.anywhere.addNodes.NodeGroupNameActivity" />
        </activity>
        <activity
            android:name=".addNodes.NodeGroupNameActivity"
            android:label="@string/title_activity_node_group_name"
            android:parentActivityName=".addNodes.QRCodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.johnbaaij.anywhere.addNodes.QRCodeScannerActivity" />
        </activity>
        <activity
            android:name=".abstractClasses.AbstractToolbarActivity"
            android:label="@string/title_activity_abstract"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.settings.TermsConToolbarActivity"
            android:parentActivityName=".MainToolbarActivity" />
        <activity
            android:name=".main.settings.SupportToolbarActivity"
            android:parentActivityName=".MainToolbarActivity" />
        <activity
            android:name=".main.settings.ProfileActivity"
            android:parentActivityName=".MainToolbarActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".addNodes.GatewayActivity"
            android:label="@string/title_activity_add_nodes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addNodes.QRCodeScannerActivity"
            android:label="@string/title_activity_qr_code_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainToolbarActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>